AGENTS.md
Oldest_game_benchmark.md
Архитектуру Динамических LoRA.md
Карта феноменов для AI.md
Квантовая теория активного коллапса сознанием.md
Многоуровневая Онтология Сознания.md
Не механика времени.md
Путеводитель_по_картам_смыслов.md
Согласованная реальность и квантовая свобода_ философско-технический манифест.pdf
Страшный сон (Матриарх).md